:root {
  --navbar-color: #5C0029;
  --theme-2nd-darkest: #61304B;
  --contact-color: #857C8D;
  --theme-2nd-lightest: #94BFBE;
  --navbar-text: #ACF7C1;
  --footer-color: #69B666;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', "Open Sans";
  position: relative;
  width: 100%;
}


.navbar-custom {
  background-color: var(--navbar-color);
}


.navbar-custom .nav-link {
  color: var(--navbar-text);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: var(--theme-2nd-lightest);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(172, 247, 193, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(172, 247, 193);
} 

#main-container {
  display: block;
  width: 100%;
}

#welcome-section {
  background-color: var(--theme-2nd-lightest);
  height: 100vh;
  width: 100%;
  position: relative;

}

.intro-container {
  padding-top: 40vh;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

#projects {
  background: white;
}

#introduce-myself, #subtitle, .section-title {
  text-align: center;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  font-size: 50px;
}

#projects, #contact-section {
  padding: 30px 0px;
  position: relative;
  z-index: 10;
  display: block;
}

.project-flexbox {
  padding: 20px 0px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-tile {
  width: 400px;
  padding: 10px;
}

.project-tile h3 {
  text-align: center;
  padding: 10px 0px;
}

.project-link {
  text-decoration: none;
  color: black;  
}

#contact-section {
  background-color: var(--contact-color);
  color: black;
  height: 100%;
}

#contact-header {
  margin-top: 80px;
}

.contact-links-container {
  padding: 50px 0px;
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto;
}

.social-media-list li{
  
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: white;
  border-radius: 100%;
  margin: 0px 10px;
}

.social-media {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 50px;
}

.social-media i {
  line-height:100px;
}

/*.social-media-list li:nth-child(1) {
  background: #3b5998;
}

.social-media-list li:nth-child(2) {
  background: black;
}

.social-media-list li:nth-child(3) {
  background: #ff0000;
}

.social-media-list li:nth-child(4) {
  background: #007bb5;
}

.social-media-list li:nth-child(5) {
  background: #55acee;
}*/
.social-media-list li{
  background: black;
}

.social-media:hover {
  background: #94BFBE;
  border-radius: 100%;
}

.footer {
  position: relative;
  z-index: 10;
  display: block;
  background-color: var(--contact-color);
  color: black;
  text-align: center;
  padding: 25px;
  padding-top: 50px;
}

.footer-link {
  color: black;
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #welcome-section {
    height: 100vmax; 
  }
  #introduce-myself, #subtitle, .section-title {
    font-size: 40px;
    padding-top: 0;
  }
  .navbar-custom .nav-link {
    font-size: 20px;
  }
  .footer {
    font-size: 25px;
  }
  #projects {
    height: 100%;
  }
  .project-flexbox {
    flex-direction: row;
  }

  .project-tile {
    width: 100vmin;
    height: auto;
    padding: 20px 0px;
  }
  .project-link {
    font-size: 35px;
  }
}

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #introduce-myself, #subtitle, .section-title {
    font-size: 45px;
    
  }

  .footer {
    font-size: 25px;
  }
  .project-link {
    font-size: 35px;
  }
  .project-tile {
    text-align: center;
  }
  .project-flexbox {
    display: flex;
    flex-direction: column;
  }

}





